#main {
	background-color : #f0f0f0;
	color: red;
	font-family: georgia;
	font-size: 0.8em;
}

th {
	background-color: #4CAF50;
	color: white;
}

#amira {
	color #7c795d;
	font-family: serif;
	font-weight: bold;
}

.baris-ganjil {
	background-color: blue;
}

a:hover {
	color: green;
}
