#main {
	background-color : #FAEBD7;
	color: deeppink;
	font-family: georgia;
	font-size: 0.8em;
	border-radius: 30px;
	
}

body {
	font-size: 150%;
	font-family: Ubuntu, "Arial";
	line-height: 1.5;
	text-align: center;
	margin: auto;
	background-image : url("http://www.anawalls.com/images/abstract/sky-clouds-light-multicolored.jpg");
	background-size: 100%;
	padding : 100px;
	font-family: "Arial", Times, serif;
	
}

#PERMATA {
	color: #FF1493
	font-family: serif;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

#paragraf {
		color: #FF1493
		font-family: serif;
		text-align: center;
	}

.baris-ganjil {
	background-color : white;
}

.baris2-ganjil {
	background-color : lightcyan;
}

#table {
	color: black;
	text-align: center;
	padding: 10px;
	position: static;
	}

a: hover {
	color: green;
	}
	
ul {
	list-style-type: circle;
}

#dropdown { 
	display : inline-block;
	margin: 0;
	margin-top: 1%;	
	padding: 0;
	z-index: 30
}

#dropdown li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial
}

#dropdown li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: #2c3e50;
	color: #FFF;
	text-align: center;
	text-decoration: none
}

#dropdown div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2
}

#dropdown div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #EAEBD8;
	color: #2875DE;
	font: 11px arial
}

#medsos {
	text-align: right;
	padding: 10px;
   border-radius: 30px;
}

.mediasocial {
	width: 50px;
	height: 50px;
	padding-right: 10px;
	transition: width 2s, height 2s, transform 2s ;
}

.mediasocial:hover {
	transform : rotate(360deg);
}

#IN {
	color:white;
}

div.fixed{
	position: fixed;
	bottom: 150px;
	right: 0;
	width: 200px;
	border:3px solid #73AD21;
}

.chat {
	text-align: center;
	background-color: #58D68D;
	font-size: 100%;
	position: inherit;
}